* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 600px;
    width: 900px;
    position: relative;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.body-part {
    aspect-ratio: 1/1;
    position: absolute;

    background-color: red;
    z-index: 3;
}

.head {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.block {
    background-size: 40px 40px;

    position: absolute;
    aspect-ratio: 1/1;
}

.apple {
    background-image: url("../images/apple.png");
    
    z-index: 2;

    animation: rotate 2s linear infinite;
}

.sand {
    z-index: 0;

    background-image: url("../sprites/sand.png");
    
    filter: saturate(0.9);
}

.water {
    background-color: blue;
    z-index: 0;

    background-image: url("../sprites/water.png");

    filter: saturate(0.6);
}

.finish {
    z-index: 0;

    background-image: url("../sprites/finish.png");
}

.strawberry {
    z-index: 1;

    background-image: url("../sprites/strawberry.png");
}

.teleport {
    background-color: orange;

    z-index: 1;
}

.grass {
    z-index: 0;

    filter: hue-rotate(0deg) saturate(0.7);

    border: 1px solid green;
    background-image: url("../sprites/grass.png");
}

.wall {
    background-image: url("../sprites/wall.png");
    z-index: 0;
}

.add-speed {
    background-image: url("../sprites/speed.png");

    transform: rotate(-90deg);
    filter: hue-rotate(90deg) saturate(5);

    z-index: 1;
}

.reduce-speed {
    background-image: url("../sprites/speed.png");

    transform: rotate(90deg);
    filter: hue-rotate(0deg) saturate(5);

    z-index: 1;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
